.idea
.vscode
python_notebook/.ipynb_checkpoints/accesslog-checkpoint.ipynb
python_notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
python_notebook/Untitled.ipynb
python_notebook/accesslog.ipynb
3-min-pytorch/*/data
3-min-pytorch/*/.data